---
import { getCollection } from "astro:content";
import ArticleLayout from "../../layouts/ArticleLayout.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const articleEntries = await getCollection("articles");
    return articleEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
    title=`Porfolio de Jerson Moreno - ${entry.data.title}`
    description={entry.data.description}
    keywords={entry.data.tags}
>
    <ArticleLayout article={entry}>
        <div class="prose lg:prose-xl dark:prose-invert">
            <Content />
        </div>
    </ArticleLayout>
</Layout>
