:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%);
    color-scheme: light dark;
    --header-position: sticky;
    --content-offset: 116px;
    --header-height: 180px;
    --header-mb: -116px;
    --avatar-image-transform: translate3d(0rem, 0, 0) scale(1);
    --avatar-border-transform: translate3d(-0.2222222222222222rem,
            0,
            0) scale(1.7777777777777777);
    --avatar-border-opacity: 0;
    --header-top: 0px;
    --avatar-top: 0px;
}

html {
    font-family: "Onest Variable", system-ui, sans-serif;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity));
    background-size: 224px;
}

@media (prefers-color-scheme: dark) {
    html {
        --tw-bg-opacity: 1;
        background-color: rgb(10 10 10 / 1);
    }
}