---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import SimpleLayout from "@/layouts/SimpleLayout.astro";
import Article from "@/components/Article.astro";
const articles = await getCollection("articles");
---

<Layout
    title="Porfolio de Jerson Moreno - Artículos"
    description="Escribiendo sobre diseño, desarrollo web y tecnología, coleccionándolos en orden cronológico."
>
    <SimpleLayout
        title="Escribiendo sobre diseño, desarrollo web y tecnología"
        intro="Todos mis pensamientos en programación, desarrollo de apps y más, coleccionándolos en orden cronológico."
    >
        <div
            class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40"
        >
            <div class="flex max-w-3xl flex-col space-y-16">
                {
                    articles
                        .sort(
                            (a, b) =>
                                new Date(b.data.pubDate).getTime() -
                                new Date(a.data.pubDate).getTime()
                        )
                        .map((article) => (
                            <Article key={article.slug} article={article} />
                        ))
                }
            </div>
        </div>
    </SimpleLayout>
</Layout>
