---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Badge from "../components/Badge.astro";
import XIcon from "../components/icons/XIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import CodeIcon from "../components/icons/CodeIcon.astro";
import Posts from "../components/Posts.astro";
import Resume from "../components/Resume.astro";
import Projects from "../components/Projects.astro";
---

<Layout
    title="Porfolio de Jerson Moreno - Desarrollador y Programador Web con m치s de 8 a침os de experiencia"
    description="Jerson Moreno is a software designer and entrepreneur based in Venezuela 游游. With more of 8 years of experience as Web Developer. Focused on create unique apps."
>
    <Container>
        <div class="max-w-2xl">
            <h1
                class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
            >
                Hola, soy Jerson <a
                    href="https://linkedin.com/in/jersonmr"
                    target="_blank"
                    rel="noopener"
                    class="flex justify-center items-center"
                    ><Badge>Disponible para trabajar</Badge></a
                >
            </h1>

            <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
                <span class="text-orange-400 dark:text-yellow-200/90"
                    >Desarrollador de software y emprendedor</span
                > ubicado en Venezuela 游游. Con m치s de 8 a침os de experiencia como
                Desarrollador Web. <span class="text-opacity-85"
                    >Enfocado en crear aplicaciones 칰nicas.</span
                >
            </p>
            <div class="mt-6 flex gap-6">
                <a
                    class="group -m-1 p-1"
                    aria-label="Follow on X"
                    href="https://x.com/JersonMorenoR"
                    target="_blank"
                    ><XIcon
                        class="h-6 w-6 fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300"
                    /></a
                ><a
                    class="group -m-1 p-1"
                    aria-label="Follow on GitHub"
                    href="https://github.com/jersonmr"
                    target="_blank"><GitHubIcon /></a
                ><a
                    class="group -m-1 p-1"
                    aria-label="Follow on LinkedIn"
                    href="https://linkedin.com/in/jersonmr"
                    target="_blank"><LinkedInIcon /></a
                >
                <a
                    class="group -m-1 p-1"
                    aria-label="Follow on LinkedIn"
                    href="mailto:jersonmr@gmail.com"
                    target="_blank"><MailIcon class="h-6 w-6 transition" /></a
                >
            </div>
        </div>
    </Container>

    <Container class="mt-24 md:mt-28">
        <div>
            <h2
                class="text-2xl font-semibold tracking-tight text-zinc-800 sm:text-3xl dark:text-zinc-100 flex gap-x-3 mb-6 items-center"
            >
                <CodeIcon class="size-7" />
                Proyectos Recientes
            </h2>
            <Projects />
        </div>
    </Container>

    <Container class="mt-24 md:mt-28">
        <div
            class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
        >
            <Posts />

            <div class="space-y-10 lg:pl-16 xl:pl-24">
                <Resume />
            </div>
        </div>
    </Container>
</Layout>
