---
// import { Popover, Transition } from "@headlessui/react";
import MobileNavigation from "./MobileNavigation.astro";

console.log(Astro.url);

const { pathname } = Astro.url;

let isHomePage = pathname === "/";
---

<header
    class="pointer-events-none relative z-50 flex flex-none flex-col"
    style="height:var(--header-height);margin-bottom:var(--header-mb)"
>
    <div class="top-0 z-10 h-16 pt-6" style="position: var(--header-position);">
        <div class="sm:px-8 top-[var(--header-top,theme(spacing.6))] w-full">
            <div class="mx-auto w-full max-w-7xl lg:px-8">
                <div class="relative px-4 sm:px-8 lg:px-12">
                    <div class="mx-auto max-w-2xl lg:max-w-5xl">
                        <div class="relative flex gap-4">
                            <div class="flex flex-1">
                                <div
                                    class="h-10 w-10 rounded-full bg-white/90 p-0.5 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:ring-white/10"
                                >
                                    <a href="/" class="pointer-events-auto">
                                        <img
                                            src="https://media.licdn.com/dms/image/D4E03AQFOsAVMiqNuog/profile-displayphoto-shrink_200_200/0/1698592673122?e=1710979200&v=beta&t=q2massNOFjzcgqf2pAd8OUjywlhf9LT8jYIQ7BC8sTk"
                                            alt="jersonmr photo"
                                            width="512"
                                            height="512"
                                            class="rounded-full bg-zinc-100 object-cover dark:bg-zinc-800 h-9 w-9"
                                        />
                                    </a>
                                </div>
                            </div>

                            <div
                                class="flex flex-1 justify-end md:justify-center"
                            >
                                <MobileNavigation />
                                <!-- <div class="pointer-events-auto md:hidden">
                                    <button
                                        class="group flex items-center rounded-full bg-white/90 px-4 py-2 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10 dark:hover:ring-white/20"
                                        type="button"
                                        aria-expanded="false"
                                        data-headlessui-state=""
                                        id="headlessui-popover-button-:R2miqla:"
                                        >Menu<svg
                                            viewBox="0 0 8 6"
                                            aria-hidden="true"
                                            class="ml-3 h-auto w-2 stroke-zinc-500 group-hover:stroke-zinc-700 dark:group-hover:stroke-zinc-400"
                                            ><path
                                                d="M1.75 1.75 4 4.25l2.25-2.5"
                                                fill="none"
                                                stroke-width="1.5"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            ></path></svg
                                        ></button
                                    >
                                </div>
                                <div
                                    style="position:fixed;top:1px;left:1px;width:1px;height:0;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;border-width:0;display:none"
                                >
                                </div>
                                <nav>
                                    <ul
                                        class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10"
                                    >
                                        <li>
                                            <a
                                                href="/"
                                                class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400"
                                                >Home</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="/about"
                                                class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400"
                                                >About</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="/projects"
                                                class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400"
                                                >Articles</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="/projects"
                                                class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400"
                                                >Projects</a
                                            >
                                        </li>
                                        <li>
                                            <a
                                                href="/contact"
                                                class="relative block px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400"
                                                >Contact</a
                                            >
                                        </li>
                                    </ul>
                                </nav> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
