---
import { getCollection } from "astro:content";
import Post from "./Post.astro";

const articles = await getCollection("articles");

const POSTS = articles.map((article) => {
    const { slug, data } = article;
    const { title, pubDate, description } = data;

    return {
        title: title,
        date: pubDate,
        description: description,
        link: `/articles/${slug}`,
    };
});
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        POSTS.map((post) => (
            <li class="mb-10 ms-4">
                <Post {...post} />
            </li>
        ))
    }
</ol>
