---
import Post from "./Post.astro";

const POSTS = [
    {
        title: "Como instalar Alpine.js",
        date: "Enero 2024",
        description:
            "Breve introducción a Alpine.js, como instalarlo y el uso de su directiva x-data",
        link: "/articles/como-instalar-alpinejs",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        POSTS.map((post) => (
            <li class="mb-10 ms-4">
                <Post {...post} />
            </li>
        ))
    }
</ol>
