---
import Button from "./Button.astro";
import Role from "./Role.astro";
import ArrowDownIcon from "./icons/ArrowDownIcon.astro";
import BriefcaseIcon from "./icons/BriefcaseIcon.astro";
import WehaaLogo from "@/images/logos/wehaa.svg";
import Square1Logo from "@/images/logos/square1.svg";
import ChargyLogo from "@/images/logos/chargy.png";
import AguayoLogo from "@/images/logos/aguayo.png";
import CesticomLogo from "@/images/logos/cesticom.png";
const resume = [
    {
        company: "Wehaa",
        title: "Full Stack Developer",
        logo: WehaaLogo,
        start: "2022",
        end: "2022",
        // end: {
        //     label: "Present",
        //     dateTime: new Date().getFullYear().toString(),
        // },
    },
    {
        company: "Square 1",
        title: "Full Stack Developer",
        logo: Square1Logo,
        start: "2021",
        end: "2022",
    },
    {
        company: "Chary",
        title: "Backend Developer",
        logo: ChargyLogo,
        start: "2019",
        end: "2019",
    },
    {
        company: "Aguayo",
        title: "Frontend Developer",
        logo: AguayoLogo,
        start: "2018",
        end: "2019",
    },
    {
        company: "Cesticom",
        title: "Frontend Developer",
        logo: CesticomLogo,
        start: "2016",
        end: "2018",
    },
];
---

<div class="rounded-2xl border border-zinc-100 p-6 dark:border-zinc-700/40">
    <h2 class="flex text-sm font-semibold text-zinc-900 dark:text-zinc-100">
        <BriefcaseIcon class="h-6 w-6 flex-none" />
        <span class="ml-3">Trabajo</span>
    </h2>
    <ol class="mt-6 space-y-4">
        {resume.map((role) => <Role role={role} />)}
    </ol>

    <Button
        href="/RESUME.pdf"
        variant="secondary"
        class="group mt-6 w-full"
        download="resume.pdf"
    >
        Descargar CV
        <ArrowDownIcon
            className="h-4 w-4 stroke-zinc-400 transition group-active:stroke-zinc-600 dark:group-hover:stroke-zinc-50 dark:group-active:stroke-zinc-50"
        />
    </Button>
</div>
